body{
    background-color: rgb(170, 192, 92);
}
.col {
    margin-top: 100px;
  }
  .card-img-top {
    max-height: 200px;
  }
  .card {
    height: 400px;
  }
  .cart-icon{
    margin:10px;
  }
  .row {
    width: 100%;
    margin: 0 auto;
  }
  .login {
    margin-left: 1102px;
    position: relative;
    top: 4px;
  }
  .cartnav{
    margin-top: 9px;
    margin-left: 12px;
  }